<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template="/layouts/home.xhtml">
        <ui:define name="title">Каналы</ui:define> 
        <ui:define name="content">
            <h:form id="form">
                <p:growl id="growl" showDetail="false" sticky="true" autoUpdate="true"/>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <p:dataTable
                        id="projects"  
                        var="project" 
                        value="#{chanelsBean.projects}" 
                        scrollable="true"  
                        scrollHeight="120" 
                        styleClass="table" 
                        selectionMode="single" 
                        rowKey="#{project.id}" 
                        selection="#{chanelsBean.selectedProject}" 
                        emptyMessage="Добавьте проект."  >
                        <f:facet name="header">Проекты</f:facet> 
                        <p:ajax event="rowSelect"  update="form:controllers" />     
                        <p:column headerText="#{chanel_messages.name}"  >
                            <h:outputText value="#{project.name}" title="#{chanel_messages.name}"/>
                        </p:column>                      
                    </p:dataTable>  
                    <p:separator />
                    <p:dataTable 
                        id="controllers"
                        var="controller" 
                        value="#{chanelsBean.selectedProject.controllers}"  
                        selectionMode="single" 
                        selection="#{chanelsBean.selectedController}" 
                        rowKey="#{controller.id}"
                        styleClass="table" 
                        rowStyleClass="#{controller.isFull() ? 'full' : null}"                       
                        scrollable="true" 
                        scrollHeight="120">
                        <p:ajax event="rowSelect"  update="form:modules" />
                        <f:facet name="header">#{chanel_messages.controllers}</f:facet>
                        <p:column headerText="#{chanel_messages.name}" >
                            <h:outputText value="#{controller.name}" />
                        </p:column>
                    </p:dataTable> 
                    <p:separator />
                    <p:dataTable 
                        id="modules" 
                        var="module" 
                        value="#{chanelsBean.selectedController.modules}"  
                        selectionMode="single" 
                        selection="#{chanelsBean.selectedModule}" 
                        rowKey="#{module.id}"
                        scrollable="true" 
                        styleClass="table" 
                        rowStyleClass="#{module.isFull() ? 'full' : null}"
                        scrollHeight="120">
                        <p:ajax event="rowSelect" update="form:chanels form:buttons"/>
                        <f:facet name="header">#{chanel_messages.modules}</f:facet>
                        <p:column headerText="Наименование" >
                            <h:outputText value="#{module}" />
                        </p:column>
                        <p:column headerText="index" >
                            <h:outputText value="#{module.index}" />
                        </p:column> 
                    </p:dataTable>                   
                </div>
                <div class="ui-g-12 ui-md-8 ui-lg-8"> 
                    <p:panel id="buttons" header="#{chanel_messages.add_chanel}" style="margin-bottom:10px" >
                        <h:panelGrid columns="5" cellpadding="5" >
                            <p:commandButton  update="@form" value="#{chanel_messages.add_ai}"   disabled="#{!chanelsBean.isAi() or chanelsBean.selectedModule.isSingleFull()}"  actionListener="#{chanelsBean.addChanel('AI')}" />
                            <p:commandButton  update="@form" value="#{chanel_messages.add_sdi}" disabled="#{!chanelsBean.isDi() or chanelsBean.selectedModule.isSingleFull()}"  actionListener="#{chanelsBean.addChanel('SDI')}" />
                            <p:commandButton  update="@form" value="#{chanel_messages.add_ddi}"  disabled="#{!chanelsBean.isDi() or chanelsBean.selectedModule.isDoubleFull()}"  actionListener="#{chanelsBean.addChanel('DDI')}" />
                            <p:commandButton  update="@form" value="#{chanel_messages.add_sdo}"   disabled="#{!chanelsBean.isDo() or chanelsBean.selectedModule.isSingleFull()}"  actionListener="#{chanelsBean.addChanel('SDO')}" />
                            <p:commandButton  update="@form" value="#{chanel_messages.add_ddo}"   disabled="#{!chanelsBean.isDo() or chanelsBean.selectedModule.isDoubleFull()}"  actionListener="#{chanelsBean.addChanel('DDO')}" />
                        </h:panelGrid>
                    </p:panel>  
                    <p:dataTable
                        id="chanels" 
                        var="chanel"   
                        value="#{chanelsBean.selectedModule.chanels}" 
                        rowKey="#{chanel.id}" 
                        editable="true" 
                        editMode="cell"
                        scrollable="true" 
                        styleClass="table" 
                        scrollHeight="360">
                        <p:ajax event="rowSelect" />
                        <f:facet name="header">Каналы модуля</f:facet>

                        <p:column headerText="method" footerText="method" width="100" >
                            <h:outputText value="#{chanel.method}" title="#{chanel_messages.method}" />
                        </p:column>   

                        <p:column headerText="debounce" footerText="debounce" rendered="#{chanelsBean.isDi()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.debounce}"  title="#{chanel_messages.debounce}" /></f:facet>
                                <f:facet name="input"> <p:inputText id="debounce" value="#{chanel.debounce}" /> </f:facet>
                            </p:cellEditor>
                        </p:column>  
                        <p:column headerText="T_acc" footerText="T_acc" rendered="#{chanelsBean.isDi()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.t_acc}"  title="#{chanel_messages.T_acc}" /></f:facet>
                                <f:facet name="input"><p:inputText id="t_acc" value="#{chanel.t_acc}"/> </f:facet>
                            </p:cellEditor>
                        </p:column> 
                        <p:column headerText="N_acc" footerText="N_acc" rendered="#{chanelsBean.isDi()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.n_acc}" title="#{chanel_messages.N_acc}" /></f:facet>
                                <f:facet name="input"><p:inputText id="n_acc" value="#{chanel.n_acc}"/> </f:facet>
                            </p:cellEditor>
                        </p:column> 
                        <p:column headerText="T_relax" footerText="T_relax" rendered="#{chanelsBean.isDi()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.t_relax}" title="#{chanel_messages.T_relax}"/></f:facet>
                                <f:facet name="input"><p:inputText id="t_relax" value="#{chanel.t_relax}"/></f:facet>
                            </p:cellEditor>
                        </p:column> 

                        <p:column headerText="invert" footerText="invert" rendered="#{chanelsBean.isDi()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.invert}" title="#{chanel_messages.invert}"/></f:facet>
                                <f:facet name="input"><p:inputText id="invert" value="#{chanel.invert}"/></f:facet>
                            </p:cellEditor>
                        </p:column> 
                        <p:column headerText="T_interim" footerText="T_interim" rendered="#{chanelsBean.isDi() or chanelsBean.isDo()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.t_interim}" title="#{chanel_messages.T_interim}" /></f:facet>
                                <f:facet name="input"> <p:inputText id="t_interim" value="#{chanel.t_interim}"  /> </f:facet>
                            </p:cellEditor>
                        </p:column>  

                        <p:column headerText="filter" footerText="filter" rendered="#{chanelsBean.isAi()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.filter}" title="#{chanel_messages.filter}"/></f:facet>
                                <f:facet name="input"><p:inputText id="filter" value="#{chanel.filter}" /></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="T_filter" footerText="T_filter" rendered="#{chanelsBean.isAi()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.t_filter}" title="#{chanel_messages.T_filter}" /></f:facet>
                                <f:facet name="input"><p:inputText id="t_filter" value="#{chanel.t_filter}" /></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="zero_range" footerText="zero_range" rendered="#{chanelsBean.isAi()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.zero_range}" title="#{chanel_messages.zero_range}" /></f:facet>
                                <f:facet name="input"> <p:inputText id="zero_range" value="#{chanel.zero_range}" /></f:facet>
                            </p:cellEditor>
                        </p:column>     
                        <p:column headerText="sw_threshold" footerText="sw_threshold" rendered="#{chanelsBean.isAi()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.sw_threshold}"  title="#{chanel_messages.sw_threshold}"/></f:facet>
                                <f:facet name="input"><p:inputText id="sw_threshold" value="#{chanel.sw_threshold}"/></f:facet>
                            </p:cellEditor>
                        </p:column>   
                        <p:column headerText="threshold" footerText="threshold" rendered="#{chanelsBean.isAi()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.threshold}" title="#{chanel_messages.threshold}"/></f:facet>
                                <f:facet name="input"><p:inputText id="threshold" value="#{chanel.threshold}" /></f:facet>                
                            </p:cellEditor>
                        </p:column> 
                        <p:column headerText="T_periodic" footerText="T_periodic" rendered="#{chanelsBean.isAi()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.t_periodic}" title="#{chanel_messages.T_periodic}" /></f:facet>
                                <f:facet name="input"><p:inputText id="t_periodic" value="#{chanel.t_periodic}" /></f:facet>
                            </p:cellEditor>
                        </p:column>                                              


                        <p:column headerText="type" footerText="type" rendered="#{chanelsBean.isDo()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.getType()}" title="#{chanel_messages.type}" /></f:facet>
                                <f:facet name="input"><p:inputText id="type" value="#{chanel.getType()}" /></f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="T_pulse" footerText="T_pulse" rendered="#{chanelsBean.isDo()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.t_pulse}"  title="#{chanel_messages.T_pulse}"/></f:facet>
                                <f:facet name="input"><p:inputText id="t_pulse" value="#{chanel.t_pulse}"/></f:facet>      
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="T_delay" footerText="T_delay" rendered="#{chanelsBean.isDo()}">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{chanel.t_delay}" title="#{chanel_messages.T_delay}"/></f:facet>
                                <f:facet name="input"><p:inputText id="t_delay" value="#{chanel.t_delay}"/></f:facet>
                            </p:cellEditor>
                        </p:column>                                 
                    </p:dataTable>   
                </div> 
            </h:form> 

        </ui:define> 
    </ui:composition>    
</html>    
