<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template="/layouts/home.xhtml">
        <ui:define name="title">Контроллеры</ui:define> 
        <ui:define name="content">
            <h:form id="form">
                <p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true"/>    
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <p:dataTable
                        id="projects" 
                        var="project" 
                        value="#{controllersBean.projects}" 
                        scrollable="true"  
                        scrollHeight="470" 
                        styleClass="table" 
                        selectionMode="single" 
                        rowKey="#{project.id}" 
                        selection="#{controllersBean.selectedProject}" 
                        emptyMessage="Добавьте проект."  >
                        <f:facet name="header">Проекты</f:facet> 
                        <p:ajax event="rowSelect"  update="form:controllers form:controller" />      
                        <p:column headerText="Имя проекта" footerText="Имя проекта">
                            <h:outputText value="#{project.name}" title="Имя проекта"/>
                        </p:column>                      
                    </p:dataTable> 
                </div>
                <div class="ui-g-12 ui-md-8 ui-lg-8">
                    <p:panel id="controller" header="Добавить контроллер" style="margin-bottom: 10px;">
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:commandButton id="addcontroller" update="controllers" value="МФК-1500" disabled="#{controllersBean.selectedProject==null}" actionListener="#{controllersBean.addController('Mfc1500')}" />
                            <p:commandButton  update="controllers" value="МФК-3000" disabled="true" actionListener="#{controllersBean.addController('Mfc3000')}" />
                        </h:panelGrid>
                    </p:panel>
                    <p:dataTable
                        id="controllers" 
                        var="controller" 
                        value="#{controllersBean.controllers}" 
                        editable="true" 
                        scrollable="true"  
                        scrollHeight="350" 
                        styleClass="table" 
                        rowStyleClass="#{controller.isFull() ? 'full' : null}"
                        editMode="cell" 
                        rowKey="#{controller.id}" 
                        emptyMessage="Необходимо выбрать/добавить проект."  >
                        <f:facet name="header">Контроллеры</f:facet>  
                        <p:column headerText="Тип" footerText="Тип" >
                            <h:outputText value="#{controller}" title="Тип"/>
                        </p:column>                     
                        <p:column headerText="Шасси">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{controller.countUnit}" /></f:facet>
                                <f:facet name="input">
                                    <h:selectOneMenu value="#{controller.countUnit}" disabled="#{controller.modules.size()!=0}">
                                        <f:selectItem itemLabel="8 модулей" itemValue="8"  />
                                        <f:selectItem itemLabel="16 модулей" itemValue="16"/>
                                        <f:selectItem itemLabel="32 модуля" itemValue="32" />
                                    </h:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Кол-во ЦП">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{controller.countCpu}" /></f:facet>
                                <f:facet name="input">
                                    <h:selectOneMenu value="#{controller.countCpu}"   disabled="#{controller.modules.size()!=0}">
                                        <f:selectItem itemLabel="1 ЦП" itemValue="1" />
                                        <f:selectItem itemLabel="2 ЦП" itemValue="2" />
                                    </h:selectOneMenu>
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Наименование" footerText="Наименование" >
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{controller.name}"/></f:facet>
                                <f:facet name="input" >
                                    <p:inputText id="name" value="#{controller.name}" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column style="width:100px;">
                            <p:commandLink update="controllers" value="Удалить" title="Удалить" actionListener="#{controllersBean.deleteController(controller)}" />            
                        </p:column>
                    </p:dataTable> 
                </div>             
            </h:form> 
        </ui:define> 
    </ui:composition>    
</html>    
