<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">  
    <h:head> 

    </h:head>
    <h:body>
        <f:param name="i" value="0" />   
        <ui:composition template="/layouts/home.xhtml">
            <ui:define name="title">Iec 104</ui:define> 
            <ui:define name="content">
                <h:form id="form">
                    <p:growl id="growl" showDetail="false" sticky="true" autoUpdate="true"/>
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-4 ui-lg-4">
                            <p:dataTable
                                id="projects"  
                                var="project" 
                                value="#{iecBean.projects}" 
                                scrollable="true"  
                                scrollHeight="120" 
                                styleClass="table" 
                                selectionMode="single" 
                                rowKey="#{project.id}" 
                                selection="#{iecBean.selectedProject}"  
                                emptyMessage="Добавьте проект."  > 
                                <f:facet name="header">Проекты</f:facet> 
                                <p:ajax event="rowSelect"  update="form:controllers" />     
                                <p:column headerText="#{chanel_messages.name}"  >
                                    <h:outputText value="#{project.name}" title="#{chanel_messages.name}"/>
                                </p:column>                      
                            </p:dataTable>  
                            <p:separator />
                            <p:dataTable 
                                id="controllers" 
                                var="controller" 
                                value="#{iecBean.selectedProject.controllers}"  
                                selectionMode="single" 
                                selection="#{iecBean.selectedController}" 
                                rowKey="#{controller.id}"
                                styleClass="table" 
                                rowStyleClass="#{controller.isFull() ? 'full' : null}"                       
                                scrollable="true" 
                                scrollHeight="120">
                                <p:ajax event="rowSelect"  update="form:modules" />
                                <f:facet name="header">#{chanel_messages.controllers}</f:facet>
                                <p:column headerText="#{chanel_messages.name}" >
                                    <h:outputText value="#{controller.name}" />
                                </p:column>
                            </p:dataTable> 
                        </div>
                        <div class="ui-g-12 ui-md-8 ui-lg-8"> 
                            <p:dataTable 
                                id="modules" 
                                var="module" 
                                value="#{iecBean.selectedController.modules}"  
                                selectionMode="single" 
                                rowKey="#{module.id}"
                                scrollable="true" 
                                styleClass="table" 
                                rowStyleClass="#{module.isFull() ? 'full' : null}"
                                scrollHeight="120">
                                <p:ajax event="rowSelect" update="@form"/>
                                <f:facet name="header">#{chanel_messages.modules}</f:facet>
                                <p:column headerText="Наименование" >
                                    <h:outputText value="#{module}" />
                                </p:column>
                                <p:column headerText="index" >
                                    <h:outputText value="#{module.index}" />
                                </p:column> 
                            </p:dataTable>                   
                        </div>
                    </div>
                </h:form> 
            </ui:define> 
        </ui:composition>    
    </h:body>
</html>    