<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template="/layouts/home.xhtml">
        <ui:define name="title">Модули</ui:define> 
        <ui:define name="content">
            <h:form id="form">
                <p:growl id="growl" showDetail="false" sticky="true" autoUpdate="true"/>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <p:dataTable
                        id="projects" 
                        var="project" 
                        value="#{modulesBean.projects}" 
                        scrollable="true"  
                        scrollHeight="180" 
                        styleClass="table" 
                        selectionMode="single" 
                        rowKey="#{project.id}" 
                        selection="#{modulesBean.selectedProject}" 
                        emptyMessage="Добавьте проект."  >
                        <f:facet name="header">Проекты</f:facet> 
                        <p:ajax event="rowSelect"  update="@form" listener="#{modulesBean.onRowSelect}" />     
                        <p:column headerText="Имя проекта" >
                            <h:outputText value="#{project.name}" title="Имя проекта"/>
                        </p:column>                      
                    </p:dataTable>  
                    <p:separator />
                    <p:dataTable 
                        id="controllers"
                        var="controller" 
                        value="#{modulesBean.controllers}" 
                        styleClass="table" 
                        rowStyleClass="#{controller.isFull() ? 'full' : null}"
                        selectionMode="single" 
                        emptyMessage="Необходимо выбрать проект." 
                        selection="#{modulesBean.selectedController}" 
                        rowKey="#{controller.id}" 
                        scrollable="true" 
                        scrollHeight="180">
                        <f:facet name="header">Контроллеры проекта</f:facet>
                        <p:ajax event="rowSelect"  update="form:modules form:buttons" />
                        <p:column headerText="Наименование" >
                            <h:outputText value="#{controller.name}" />
                        </p:column> 
                        <p:column headerText="Свободно мест" >
                            <h:outputText value="#{controller.emptyCount()}" />
                        </p:column>   
                    </p:dataTable>   

                </div>
                <div class="ui-g-12 ui-md-8 ui-lg-8">
                    <p:panel id="buttons" header="Добавить модуль" style="margin-bottom:10px" >
                        <h:panelGrid columns="4" cellpadding="5" >
                            <p:commandButton  update="form:controllers form:modules" value="Добавить DI32" actionListener="#{modulesBean.addModule('DI32')}"   disabled="#{modulesBean.selectedController == null or modulesBean.selectedController.isFull()}" />
                            <p:commandButton  update="form:controllers form:modules" value="Добавить DO32" actionListener="#{modulesBean.addModule('DO32')}"   disabled="#{modulesBean.selectedController == null or modulesBean.selectedController.isFull()}" />
                            <p:commandButton  update="form:controllers form:modules" value="Добавить AIG16" actionListener="#{modulesBean.addModule('AIG16')}" disabled="#{modulesBean.selectedController == null or modulesBean.selectedController.isFull()}" />
                            <p:commandButton  update="form:modules" value="Автонумерация" actionListener="#{modulesBean.autoIndex()}" disabled="#{modulesBean.selectedController == null}" />
                        </h:panelGrid>
                    </p:panel>          
                    <p:dataTable 
                        id="modules" 
                        var="module" 
                        value="#{modulesBean.selectedController.modules}" 
                        styleClass="table" 
                        rowStyleClass="#{module.isFull() ? 'full' : null}"
                        emptyMessage="Необходимо выбрать контроллер." 
                        editable="true"
                        editMode="cell"
                        rowKey="#{module.id}" 
                        scrollable="true" 
                        scrollHeight="350">
                        <f:facet name="header">Модули контроллера</f:facet>
                        <p:column headerText="type" footerText="type">
                            <h:outputText value="#{module}" />
                        </p:column>   
                        <p:column headerText="size" footerText="size">
                            <h:outputText value="#{module.size}" />
                        </p:column>     
                        <p:column headerText="index" footerText="index">
                            <p:cellEditor>
                                <f:facet name="output"><h:outputText value="#{module.index}"/></f:facet>
                                <f:facet name="input" >
                                    <p:inputText id="name" value="#{module.index}" />
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="ts_vname" footerText="ts_vname">
                            <h:outputText value="#{module.ts_vname}" />
                        </p:column>  
                        <p:column headerText="vname" footerText="vname">
                            <h:outputText value="#{module.vname}" />
                        </p:column>   
                        <p:column headerText="kind" footerText="kind">
                            <h:outputText value="#{module.kind}" />
                        </p:column>  
                        <p:column style="width:100px;text-align: center">
                            <p:commandLink update="modules"  value="Удалить" title="Удалить" actionListener="#{modulesBean.deleteModule(module)}" />            
                        </p:column>                      
                    </p:dataTable>      
                </div>
            </h:form> 

        </ui:define> 
    </ui:composition>    
</html>    
