<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">  
    <h:head>
        <title><ui:insert name="title">Название по умолчанию</ui:insert></title>
        <link rel="shortcut icon" href="#{resource['images/favicon.ico']}" />
        <h:outputStylesheet library="styles" name="style.css" />
    </h:head>
    <h:body>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12 padd" >
                <h:form >  
                    <p:tabMenu activeIndex="#{param.i}"  >
                        <p:menuitem value="Проекты"  outcome="projects"> 
                            <f:param name="i" value="0" />
                        </p:menuitem>             
                        <p:menuitem value="Контроллеры"  outcome="controllers"> 
                            <f:param name="i" value="1" />
                        </p:menuitem>
                        <p:menuitem value="Модули" outcome="modules" > 
                            <f:param name="i" value="2" />
                        </p:menuitem>   
                        <p:menuitem value="Каналы" outcome="chanels" > 
                            <f:param name="i" value="3" />
                        </p:menuitem>  
                        <p:menuitem value="Iec 104" outcome="iec">
                            <f:param name="i" value="4" />
                        </p:menuitem>    
                        <p:menuitem value="Экспорт конфигурации" outcome="export">
                            <f:param name="i" value="5" />
                        </p:menuitem>     
                        <p:menuitem value="Конвертер" outcome="convert">
                            <f:param name="i" value="6" />
                        </p:menuitem>
                        <p:menuitem value="Выход" action="#{loginBean.logout()}" >

                        </p:menuitem>
                    </p:tabMenu>            
                </h:form>   
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <ui:insert name="content">Содержимое по умолчанию</ui:insert>   
            </div>
        </div>
        <p:separator /> 
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-2 ui-lg-2"><h:graphicImage  library="images" name="tecon_logo.png"/></div>
                <div class="ui-g-12 ui-md-2 ui-lg-2">#{sessionBean.user}</div>
                
            </div>
        </div>
    </h:body>
</html>   

