<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">  
    <h:head>
        <title><ui:insert name="title">Название по умолчанию</ui:insert></title>
        <link rel="shortcut icon" href="#{resource['images/favicon.ico']}" />
        <h:outputStylesheet library="css" name="style.css" />
    </h:head>
    <h:body>
        <div class="ui-g" id="container">
            <ui:insert name="content">Содержимое по умолчанию</ui:insert>  
        </div>
    </h:body>
</html>   

