<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 
    <ui:composition template="/layouts/start.xhtml">
        <ui:define name="title">Форма входа</ui:define> 
        <ui:define name="content">
                <h:form id="loginForm">  
                    <p:panel header="Вход" id="loginPanel">
                        <p:messages/>
                        <h:panelGrid columns="2" cellpadding="10">
                            <h:outputText value="Адрес эл. почты:" />
                            <p:inputText  id="email" value="#{loginBean.email}" required="true" label="Адрес эл. почты" requiredMessage="Введите адрес эл. почты" validatorMessage="Введите корректный email адрес.">
                                <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                            </p:inputText>     
                            <h:outputText value="Пароль:" />
                            <p:password id="password" value="#{loginBean.password}" required="true" requiredMessage="Введите пароль" validatorMessage="Пароль должен содержать минимум 5 знаков.">
                                <f:validateLength minimum="5"/>
                            </p:password>
                            <p:commandButton value="Вход" validateClient="true" update="@form" icon="ui-icon-check"  action="#{loginBean.login}" /> 
                            <p:link value="Запросить доступ" outcome="request" /> 
                        </h:panelGrid>
                    </p:panel>         
                </h:form>
        </ui:define> 
    </ui:composition> 
</html> 

