<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 
    <ui:composition template="/layouts/start.xhtml">
        <ui:define name="title">Форма запроса доступа</ui:define> 
        <ui:define name="content">
            <h:form id="requestForm">  
                <p:panel header="Запросить доступ" id="requestPanel">
                    <p:growl autoUpdate="true"/>
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:outputText value="Адрес эл. почты:" />
                        <p:inputText  id="email" value="#{requestBean.email}" required="true" label="Адрес эл. почты" requiredMessage="Введите адрес эл. почты" validatorMessage="Введите корректный email адрес.">
                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                        </p:inputText>     

                        <h:outputText value="Имя:" />
                        <p:inputText  id="firstname" value="#{requestBean.firstname}" required="true" label="Имя" requiredMessage="Необходимо заполнить имя" ></p:inputText>  

                        <h:outputText value="Фамилия:" />
                        <p:inputText  id="lastname" value="#{requestBean.lastname}" required="true" label="Фамилия" requiredMessage="Необходимо заполнить фамилия" ></p:inputText>  
                        <p:commandButton value="Отправить" validateClient="true" icon="ui-icon-check"  action="#{requestBean.sendRequest}" />  
                        <p:link value="Вход" outcome="login" /> 
                    </h:panelGrid>
                </p:panel>         
            </h:form>
        </ui:define> 
    </ui:composition>
</html>  

