body,html{
    padding: 0px;
    margin: 0px;
}
input, select{
    width: 100%;
}
h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
h2{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 100px;
}
.centered{
    text-align: center;
}
.inv{
    background-color: #fca752 !important;
}
.full{
    background-color: red !important;
    color: #ffffff;
}
.table{
    background-color: #e6e6e6;
}
.padd{
    margin: 0px !important;
    padding: 0px !important;
}